@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&display=swap');
@import './styles/reset.css';
@import './styles/theme.css';

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
